<div class="user-details">
  <h1> Data Science and AI Portfolio </h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/1-ai-loan.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Loan Prediction </h3>
    <ul>
      <li> Logistic Regression, Random-Forest Classification, XGBoost</li>
    </ul>
    <p>Proyek ini merupakan proyek yang bertujuan untuk menentukan apakah seseorang dapat diberikan suatu pinjaman atau tidak. Program tersebut diawali dengan proses pengecekan data null dalam dataset, proses mengganti nilai null tersebut dengan nilai baru, pengecekan data duplikat. Lalu, untuk meningkatkan performansi prediksi tersebut, penggunaan teknik label encoding digunakan. Lalu dengan menggunakan berbagai macam model (Logistic Regression, Random Forest Classification, XGBoost), didapatkan XGBoost merupakan model yang paling baik dengan tingkat akurasi hingga 80%.</p>
    <a class="project-link" href="https://www.kaggle.com/ivanmsiegfried/loan-prediction-using-loan-pred-problem-dataset" target="_blank">Kaggle Link</a>
	<a class="project-link" href="https://www.kaggle.com/ivanmsiegfried/loan-prediction-using-loan-pred-problem-dataset" target="_blank">Medium</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/2-ai-houseprice.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Boston House Price </h3>
    <ul>
      <li> Regression Methods</li>
    </ul>
    <p>Program ini merupakan program yang bertujuan untuk menentukan harga rumah dengan beberapa parameter menggunakan regresi linear. Program ini didahului dengan data cleansing. Setelah dibersihkan, data tersebut kemudian dilihat korelasi antara satu parameter dengan parameter lain menggunakan metoda pearson. Setelah ditentukan parameter mana yang akan diramalkan, data tersebut kemudian dilatih menggunakan regresi linear, Lasso, ElasticNet, K-Neighbors-Regressor, Gradient Boosting Regressor. Model-model tersebut kemudian divalidasi untuk melihat keakuratan model dan prediksi yang dihasilkan.</p>
    <a class="project-link" href="https://www.kaggle.com/ivanmsiegfried/boston-house-price-using-linear-regression" target="_blank">Kaggle Link</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/3-ai-mnist.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Digit Image Recognition</h3>
    <ul>
      <li> Convolutional Neural Network</li>
    </ul>
    <p>Program ini merupakan program pengenalan citra menggunakan convolutional neural network. Citra mendeteksi suatu tepi dengan menggunakan kumpulan-kumpulan metoda matematis semisal konvolusi 2D, Max Pooling yang dikumpulkan dalam suatu sekuensial. Kemudian, bentuk data latih ini dioptimasi menggunakan fungsi Poisson sebagai loss function. Kemudian, sekuensial dan loss function tersebut dikompilasi dan diimplemetasikan kedalam set data yang kita punya. Model tersebut kemudian dievaluasi dengan menghitung tingkat akurasi.</p>
    <a class="project-link" href="https://www.kaggle.com/ivanmsiegfried/digit-recognizer-using-mnist-dataset" target="_blank">Kaggle Link</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/4-ai-facemask.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Comparative Study of Deep Learning Methods in Detection Face Mask Utilization </h3>
    <ul>
      <li> ResNet50, MobileNetV2, and Xception Model</li>
    </ul>
    <p>Model ini mendeteksi penggunaan citra wajah yang memakai masker menggunakan arsitektur jaringan syaraf tiruan menggunakan ResNet50V2, MobileNetV2, dan Xception yang merupakan model yang sudah dilatih dalam tahap awal. Untuk menspesifikasikan model dalam suatu tujuan yang khusus, perlu dilakukan proses yang dinamakan hyper-tuning yang dalam kasus ini model dilatih untuk mengenal citra wajah menggunakan masker maupun tidak. Hasil yang didapatkan adalah nilai validasi untuk metoda ResNet50V2 dan Xception memiliki nilai akurasi yang lebih baik dibandingkan dengan MobileNetV2. Meski begitu, terdapat trade-off dimana MobileNetV2 memiliki kecepatan latih yang lebih cepat dibandingkan dua metoda yang lain.</p>
    <a class="project-link" href="https://doi.org/10.31219/osf.io/3gph4" target="_blank">Preprint Link</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/5-ai-jouska.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Sentiment Tweet Analysis of Jouska </h3>
    <ul>
      <li> Natural Language Processing</li>
    </ul>
    <p>Program ini menganalisa sentiment terkait percakapan di lini masa twitter saat sedang ramai skandal kasus investasi yang dilakukan dan didalangi oleh Jouska. Dari hasil tersebut, dapat dilihat bahwa lini masa menganggap masalah ini sebagai isu negatif.</p>
    <a class="project-link" href="https://github.com/ivanmsiegfried/Portofolio/blob/main/Data%20Sains/Sentiment%20Tweet%20Analysis.py" target="_blank">GitHub Link</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/6-ai-healthminister.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Sentiment Tweet Analysis of Health Minister of Indonesia in July 2020 </h3>
    <ul>
      <li> Natural Language Processing</li>
    </ul>
    <p>Program ini menganalisa sentiment terkait percakapan di lini masa twitter tentang kinerja mengenai Menteri Kesehatan pada Juli 2020. Dari table diatas, dapat dilihat bahwa sentiment mengenai Menteri Terawan berada pada posisi yang positif. </p>
    <a class="project-link" href="https://github.com/ivanmsiegfried/Portofolio/blob/main/Data%20Sains/Sentiment%20Tweet%20Analysis.py" target="_blank">GitHub Link</a>
  </div>
</div>


<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/7-ai-wage.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Sanbercode Final Project: Wage Prediction </h3>
    <ul>
      <li>XGBoost</li>
    </ul>
    <p>Program ini memprediksi gaji seseorang bedasarkan parameter-parameter seperti kelas pekerja, umur, pendidikan, pekerjaan, dll.  Program ini meliputi proses data wrangling, modelling, dan validasi. Model tersebut berhasil menempati posisi 15 dari total 420 orang yang mengikuti kompetisi ini.  </p>
    <a class="project-link" href="https://github.com/ivanmsiegfried/Portofolio/blob/main/Data%20Sains/Final%20Project.ipynb" target="_blank">GitHub Link</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/8-ai-rps.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Image Recognition: Rock Paper Scissor </h3>
    <ul>
      <li>Convolutional Neural Networks</li>
    </ul>
    <p>Program ini adalah program yang dibuat untuk menyelesaikan kursus di Dicoding Indonesia. Program ini memodelkan simbol tangan yang model tersebut dilatih menggunakan 1314 jumlah data latih dan 874 data tes. Data tersebut kemudian diteruskan kedalam suatu sekuensial model yang terdiri atas lapisan-lapisan jaringan syaraf tiruan. Jaringan ini berbentuk operasi matematis yang digunakan untuk mendeteksi tepian. Tingkat akurasi yang dihasilkan untuk model ini berada pada 97,54%  </p>
    <a class="project-link" href="https://github.com/ivanmsiegfried/Portofolio/blob/main/Data%20Sains/RPS%20Final.ipynb" target="_blank">GitHub Link</a>
  </div>
</div>

<div class="user-details">
  <h1> Computational Physics Portfolio </h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/1-cp-decay.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Uranium Decay </h3>
    <ul>
      <li>Numerical Methods</li>
    </ul>
    <p> Program ini dibuat untuk menghitung waktu peluruhan untuk Uranium 235. Selain itu, program ini menghitung nilai pembulatan mesin serta lebar pias yang tepat untuk simulasi ini.  </p>
    <a class="project-link" href="https://github.com/ivanmsiegfried/Portofolio/tree/main/Fisika%20Komputasi/1-Peluruhan" target="_blank">GitHub Link</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/2-cp-balap.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Classical Mechanics of Velocity </h3>
    <ul>
      <li>Numerical Methods</li>
    </ul>
    <p> Program ini dibuat untuk menghitung kecepatan dari daya suatu atlit balap jika diketahui nilai daya. Perumusan umum yang kita dapat kemudian didiskritisasi menjadi bentuk yang mudah diselesaikan secara komputasi sehingga didapatkan kecepatan sesuai dengan batasan-batasan yang didefinisikan beserta dengan parameternya. </p>
    <a class="project-link" href="https://github.com/ivanmsiegfried/Portofolio/tree/main/Fisika%20Komputasi/2-Mekanika%20Klasik%20Mobil%20Balap" target="_blank">GitHub Link</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/3-cp-pendulum.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Pendulum Simulation </h3>
    <ul>
      <li>Comparative Study of Euler, Euler-Cromer, and Verlet Methods</li>
    </ul>
    <p> Program ini dirancang untuk melihat pengaruh beberapa metoda numerik (Euler, Euler-Cromer, dan Verlet) untuk menghitung suatu gerak pendulum dengan memperhatikan tingkat akurasi program. </p>
    <a class="project-link" href="https://github.com/ivanmsiegfried/Portofolio/tree/main/Fisika%20Komputasi/3-Pendulum%20menggunakan%20Euler%2C%20Euler-Cromer%2C%20dan%20Verlet" target="_blank">GitHub Link</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/4-cp-em.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Electromagnetic Propagation in 1D and 3D Domain </h3>
    <ul>
      <li>Numerical Methods</li>
    </ul>
    <p> Program ini dirancang untuk mensimulasikan Governing Equation untuk gelembang E dan H (1 Dimensi) dan menghitung Hx, Hy, Dz, dan Ez (3 Dimensi).</p>
    <a class="project-link" href="https://github.com/ivanmsiegfried/Portofolio/tree/main/Fisika%20Komputasi/4-Gelombang%20Elektromagnetik" target="_blank">GitHub Link</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/5-cp-mc.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Monte-Carlo dan Random Walk </h3>
    <ul>
      <li>Numerical Methods</li>
    </ul>
    <p> Program ini dirancang untuk menyelesaikan berbagai persoalan menggunakan Monte-Carlo dan Random Walk. Salah satu permasalahan yang diselesaikan menggunakan Monte Carlo adalah menghitung nilai Pi. Sementara itu, permasalahan yang diselesaikan menggunakan Random Walk adalah pencarian solusi untuk suatu persamaan.</p>
    <a class="project-link" href="https://github.com/ivanmsiegfried/Portofolio/tree/main/Fisika%20Komputasi/5-Simulasi%20Monte%20Carlo" target="_blank">GitHub Link</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/6-cp-lj.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Quantum Mechanics - Lennard Jones Potentials </h3>
    <ul>
      <li>Numerical Methods</li>
    </ul>
    <p> Program ini dirancang untuk menghitung suatu pergerakan elektron dalam kristal NaCl 1 Dimensi menggunakan bantuan potensial Lennard-Jones menggunakan Matlab.</p>
    <a class="project-link" href="https://github.com/ivanmsiegfried/Portofolio/tree/main/Fisika%20Komputasi/6-Quantum%20Mechanics%20Lennard%20Jones%20Potentials" target="_blank">GitHub Link</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/7-cp-dft.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Band-structure Simulation of Si, Gap, GaN, and TiO2 Rutile Using Julia Programming </h3>
    <ul>
      <li>Density Functional Theory</li>
    </ul>
    <p> Program ini dirancang untuk mengkalkulasikan struktur pita dari berbagai macam material menggunakan pemrograman Julia. Hasil dari program ini kemudian dikomparasikan dengan program serupa yaitu Abinit dan VaSP.</p>
    <a class="project-link" href="https://digilib.itb.ac.id/index.php/gdl/view/41298" target="_blank">Link</a>
  </div>
</div>
<!--
<div class="user-details">
  <h1> Computational Physics Portfolio </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Loan Prediction </h3>
    <ul>
      <li> Logistic Regression, Random-Forest Classification, XGBoost</li>
    </ul>
    <p>Proyek ini merupakan proyek yang bertujuan untuk menentukan apakah seseorang dapat diberikan suatu pinjaman atau tidak. Program tersebut diawali dengan proses pengecekan data null dalam dataset, proses mengganti nilai null tersebut dengan nilai baru, pengecekan data duplikat. Lalu, untuk meningkatkan performansi prediksi tersebut, penggunaan teknik label encoding digunakan. Lalu dengan menggunakan berbagai macam model (Logistic Regression, Random Forest Classification, XGBoost), didapatkan XGBoost merupakan model yang paling baik dengan tingkat akurasi hingga 80%.</p>
    <a class="project-link" href="#">Check i out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
 --> 