<div class="user-details">
  <h1> Data Engineering </h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/1-de.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Twitter Data Ingesting </h3>
    <ul>
      <li> Apache NiFi (Hortonworks Data Flow)</li>
    </ul>
    <p>This project aims to digest tweets data using Twitter API. The raw data is then sorted based on language: Spanish and not Spanish.</p>
    <a class="project-link" href="https://www.kaggle.com/ivanmsiegfried/loan-prediction-using-loan-pred-problem-dataset" target="_blank">Kaggle Link</a>
	<a class="project-link" href="https://www.kaggle.com/ivanmsiegfried/loan-prediction-using-loan-pred-problem-dataset" target="_blank">Medium</a>
  </div>
</div>



<div class="user-details">
  <h1> Data Science and AI Portfolio </h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/1-ai-loan.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Loan Prediction </h3>
    <ul>
      <li> Logistic Regression, Random-Forest Classification, XGBoost</li>
    </ul>
    <p>This project is a project that aims to determine whether someone can be given a loan or not. The program begins with the process of checking null data in the dataset, the process of replacing the null values with new values, checking for duplicate data. Then, to improve the prediction performance, the use of label encoding technique is used. Then by using a variety of models (Logistic Regression, Random Forest Classification, XGBoost), XGBoost is found to be the best model with an accuracy level of up to 80%.</p>
    <a class="project-link" href="https://www.kaggle.com/ivanmsiegfried/loan-prediction-using-loan-pred-problem-dataset" target="_blank">Kaggle Link</a>
	<a class="project-link" href="https://www.kaggle.com/ivanmsiegfried/loan-prediction-using-loan-pred-problem-dataset" target="_blank">Medium</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/2-ai-houseprice.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Boston House Price (Using CRISP-DM Frameworks)</h3>
    <ul>
      <li> Regression Methods</li>
    </ul>
    <p>This program is a program that aims to determine house prices with several parameters using linear regression. This program is preceded by data cleansing. After cleaning, the data is then examined for the correlation between one parameter and another using the Pearson method. After determining which parameters will be predicted, the data is then trained using linear regression, Lasso, ElasticNet, K-Neighbors-Regressor, Gradient Boosting Regressor. The models are then validated to see the accuracy of the models and the resulting predictions.</p>
    <a class="project-link" href="https://www.kaggle.com/ivanmsiegfried/boston-house-price-english-ver" target="_blank">Kaggle Link</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/2-ai-houseprice.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Boston House Price </h3>
    <ul>
      <li> Regression Methods</li>
    </ul>
    <p>This program is a program that aims to determine house prices with several parameters using linear regression. This program is preceded by data cleansing. After cleaning, the data is then examined for the correlation between one parameter and another using the Pearson method. After determining which parameters will be predicted, the data is then trained using linear regression, Lasso, ElasticNet, K-Neighbors-Regressor, Gradient Boosting Regressor. The models are then validated to see the accuracy of the models and the resulting predictions.</p>
    <a class="project-link" href="https://www.kaggle.com/ivanmsiegfried/boston-house-price-using-linear-regression" target="_blank">Kaggle Link</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/2-ai-houseprice.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Haematology </h3>
    <ul>
      <li> Classification Methods</li>
    </ul>
    <p>This program aims to classify the related situation of blood related with the level of eritrocyte, trombocyte, etc.</p>
    <a class="project-link" href="https://www.kaggle.com/ivanmsiegfried/haematology" target="_blank">Kaggle Link</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/3-ai-mnist.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Digit Image Recognition</h3>
    <ul>
      <li> Convolutional Neural Network</li>
    </ul>
    <p>This program is an image recognition program using a convolutional neural network. Image detects an edge using sets of mathematical methods such as 2D convolution, Max Pooling collected in a sequential. Then, this form of training data is optimized using the Poisson function as a loss function. Then, the sequential and loss functions are compiled and implemented into the data set we have. The model is then evaluated by calculating the level of accuracy.</p>
    <a class="project-link" href="https://www.kaggle.com/ivanmsiegfried/digit-recognizer-using-mnist-dataset" target="_blank">Kaggle Link</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/4-ai-facemask.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Comparative Study of Deep Learning Methods in Detection Face Mask Utilization </h3>
    <ul>
      <li> ResNet50, MobileNetV2, and Xception Model</li>
    </ul>
    <p>This model detects the use of a face image wearing a mask using an artificial neural network architecture using ResNet50V2, MobileNetV2, and Xception which are models that have been trained in the early stages. To specify the model in a specific purpose, it is necessary to carry out a process called hyper-tuning in which the model is trained to recognize facial images using masks or not. The results obtained are the validation values for the ResNet50V2 and Xception methods have better accuracy values compared to MobileNetV2. Even so, there is a trade-off where MobileNetV2 has a faster training speed than the other two methods.</p>
    <a class="project-link" href="https://doi.org/10.31219/osf.io/3gph4" target="_blank">Preprint Link</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/5-ai-jouska.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Sentiment Tweet Analysis of Jouska </h3>
    <ul>
      <li> Natural Language Processing</li>
    </ul>
    <p>This program analyzes the sentiment related to the conversation on the Twitter timeline when the investment case scandal was being carried out and masterminded by Jouska. From these results, it can be seen that the timeline considers this issue as a negative issue.</p>
    <a class="project-link" href="https://github.com/ivanmsiegfried/Portofolio/blob/main/Data%20Sains/Sentiment%20Tweet%20Analysis.py" target="_blank">GitHub Link</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/6-ai-healthminister.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Sentiment Tweet Analysis of Health Minister of Indonesia in July 2020 </h3>
    <ul>
      <li> Natural Language Processing</li>
    </ul>
    <p>This program analyzes sentiment related to conversations on the Twitter timeline about the performance of the Minister of Health in July 2020. From the figure above, it can be seen that sentiment regarding Minister Terawan is in a positive position. </p>
    <a class="project-link" href="https://github.com/ivanmsiegfried/Portofolio/blob/main/Data%20Sains/Sentiment%20Tweet%20Analysis.py" target="_blank">GitHub Link</a>
  </div>
</div>


<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/7-ai-wage.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Sanbercode Final Project: Wage Prediction </h3>
    <ul>
      <li>XGBoost</li>
    </ul>
    <p>This program predicts a person's salary based on parameters such as working class, age, education, occupation, etc. This program includes data wrangling, modeling, and validation processes. This model managed to occupy the 15th position out of a total of 420 people who participated in this competition. </p>
    <a class="project-link" href="https://github.com/ivanmsiegfried/Portofolio/blob/main/Data%20Sains/Final%20Project.ipynb" target="_blank">GitHub Link</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/8-ai-rps.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Image Recognition: Rock Paper Scissor </h3>
    <ul>
      <li>Convolutional Neural Networks</li>
    </ul>
    <p>This program is a program created to complete courses in Dicoding Indonesia. This program models the hand symbols on which the model is trained using 1314 total training data and 874 test data. The data is then forwarded into a sequential model consisting of layers of artificial neural networks. This network takes the form of a mathematical operation used to detect edges. The resulting accuracy rate for this model is at 97.54%  </p>
    <a class="project-link" href="https://github.com/ivanmsiegfried/Portofolio/blob/main/Data%20Sains/RPS%20Final.ipynb" target="_blank">GitHub Link</a>
  </div>
</div>

<div class="user-details">
  <h1> Computational Physics Portfolio </h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/1-cp-decay.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Uranium Decay </h3>
    <ul>
      <li>Numerical Methods</li>
    </ul>
    <p> This program was created to calculate the decay time of Uranium 235. In addition, it calculates the engine rounding value as well as the correct grating width for this simulation.  </p>
    <a class="project-link" href="https://github.com/ivanmsiegfried/Portofolio/tree/main/Fisika%20Komputasi/1-Peluruhan" target="_blank">GitHub Link</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/2-cp-balap.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Classical Mechanics of Velocity </h3>
    <ul>
      <li>Numerical Methods</li>
    </ul>
    <p> This program is made to calculate the speed of a racing athlete if the power value is known. The general formulation that we can then discretise into a form that is computationally easy to solve so that the speed is obtained according to the defined constraints along with the parameters.</p>
    <a class="project-link" href="https://github.com/ivanmsiegfried/Portofolio/tree/main/Fisika%20Komputasi/2-Mekanika%20Klasik%20Mobil%20Balap" target="_blank">GitHub Link</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/3-cp-pendulum.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Pendulum Simulation </h3>
    <ul>
      <li>Comparative Study of Euler, Euler-Cromer, and Verlet Methods</li>
    </ul>
    <p> This program is designed to see the effect of several numerical methods (Euler, Euler-Cromer, and Verlet) to calculate a pendulum motion by taking into account the accuracy of the program. </p>
    <a class="project-link" href="https://github.com/ivanmsiegfried/Portofolio/tree/main/Fisika%20Komputasi/3-Pendulum%20menggunakan%20Euler%2C%20Euler-Cromer%2C%20dan%20Verlet" target="_blank">GitHub Link</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/4-cp-em.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Electromagnetic Propagation in 1D and 3D Domain </h3>
    <ul>
      <li>Numerical Methods</li>
    </ul>
    <p> This program is designed to simulate the Governing Equation for E and H (1 Dimension) and calculate Hx, Hy, Dz, and Ez (3 Dimension). </p>
    <a class="project-link" href="https://github.com/ivanmsiegfried/Portofolio/tree/main/Fisika%20Komputasi/4-Gelombang%20Elektromagnetik" target="_blank">GitHub Link</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/5-cp-mc.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Monte-Carlo dan Random Walk </h3>
    <ul>
      <li>Numerical Methods</li>
    </ul>
    <p> This program is designed to solve various problems using Monte-Carlo and Random Walks. One of the problems solved using Monte Carlo is calculating the value of Pi. Meanwhile, the problem that is solved using the Random Walk is finding a solution to an equation.</p>
    <a class="project-link" href="https://github.com/ivanmsiegfried/Portofolio/tree/main/Fisika%20Komputasi/5-Simulasi%20Monte%20Carlo" target="_blank">GitHub Link</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/6-cp-lj.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Quantum Mechanics - Lennard Jones Potentials </h3>
    <ul>
      <li>Numerical Methods</li>
    </ul>
    <p> This program is designed to calculate a movement of electrons in 1-dimensional NaCl crystals using the help of the Lennard-Jones potential using Matlab.</p>
    <a class="project-link" href="https://github.com/ivanmsiegfried/Portofolio/tree/main/Fisika%20Komputasi/6-Quantum%20Mechanics%20Lennard%20Jones%20Potentials" target="_blank">GitHub Link</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/7-cp-dft.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Band-structure Simulation of Si, GaP, GaN, and TiO2 Rutile Using Julia Programming </h3>
    <ul>
      <li>Density Functional Theory</li>
    </ul>
    <p> This program is designed to calculate the ribbon structure of various materials using the Julia programming. The results of this program are then compared with similar programs, namely Abinit and VaSP.</p>
    <a class="project-link" href="https://digilib.itb.ac.id/index.php/gdl/view/41298" target="_blank">Link</a>
  </div>
</div>
<!--
<div class="user-details">
  <h1> Computational Physics Portfolio </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Loan Prediction </h3>
    <ul>
      <li> Logistic Regression, Random-Forest Classification, XGBoost</li>
    </ul>
    <p>Proyek ini merupakan proyek yang bertujuan untuk menentukan apakah seseorang dapat diberikan suatu pinjaman atau tidak. Program tersebut diawali dengan proses pengecekan data null dalam dataset, proses mengganti nilai null tersebut dengan nilai baru, pengecekan data duplikat. Lalu, untuk meningkatkan performansi prediksi tersebut, penggunaan teknik label encoding digunakan. Lalu dengan menggunakan berbagai macam model (Logistic Regression, Random Forest Classification, XGBoost), didapatkan XGBoost merupakan model yang paling baik dengan tingkat akurasi hingga 80%.</p>
    <a class="project-link" href="#">Check i out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
 --> 